.education {
    padding-top: 200px;
    min-height: 90vh;

    &__wrap {
        padding: 0 30px;
        height: 100%;
    }
    &__inner{
        padding-bottom: 30px;
    }
    &__title {
        font-size: 48px;
        font-weight: bold;
        line-height: 40px;
        color: #0b5130;
        text-transform: uppercase;
    }
    &__list{
        margin-top: 30px;
        font-size: 24px;
        color: #65c907;
        text-align: center;
    }
    &__item-video{
        position: relative;
        max-height: 694px;
        height: 100%;
        margin-top: 20px;
        border-radius: 7px !important;
        overflow: hidden;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: #0b5130;
    }
    .swiper-pagination-bullets {
        color: #65c907 !important;
    }
    .swiper-pagination-bullet-active {
        color: #0b5130 !important;
    }
    &__img-slider{
        max-width: 1000px;
        width: 100%;
        height: 100%;
    }
    .swiper-pagination-bullets {
        top: -10px !important;
        height: 30px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        background: #65c907;
    }
    .swiper-pagination-bullet-active {
       background: #65c907;
    }
    #video-player{
        border-radius: 7px;
    }
}

@media (max-width: 950px) {
    .education {
        &__wrap {
            padding-top: 40px;
            text-align: center;
        }
    }
}

@media (max-width: 640px) {
    .education {
        &__wrap {
            padding-top: 20px;
        }
    }
}

@media (max-width: 470px) {
    .education {
        &__title {
            font-size: 30px;
        }
    }
}