.registration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 200;
    color: #65c907;
    display: none;
    &__wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        min-height: 430px;
        background: #fff;
        padding: 30px;
        border-radius: 7px;
    }
    &__title{
        font-size: 36px;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
    }
    &__wrap form{
        margin-top: 30px;
        font-size: 24px;
    }
    &__wrap label{
        display: block;
        margin-top: 15px;
    }
    &__wrap input{
        margin-top: 10px;
        width: 100%;
        border-radius: 7px;
        border: 1px solid #65c907;
        padding: 5px 10px;
        outline: none;
        font-size: 18px;
    }
    &-btn {
        display: block;
        width: 100%;
        padding: 10px 15px 10px 15px;
        margin-top: 33px;
        font-size: 24px;
        font-weight: bold;
        background: #65c907;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        font-family: 'Calibri';
        outline: none;
    }
    &-btn:hover{
        background: rgb(85, 168, 7);
    }
    &__inner{
        position: relative;
    }
    .registerform-close {
        position: absolute;
        top: -20px;
        right: -20px;
    }
    .registerform-close:before {
        position: absolute;
        top: 0;
        right: 0;
        content: "\e905";
        font-family: 'icomoon';
        font-size: 24px;
        color: #65c907;
        z-index: 50;
        cursor: pointer;
    }
}

.registerform-active {
    display: block;
    transition: 3s;
}

.registerform-none {
    display: none;
}