<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__login">
                <button class="footer__login-btn footer__login-entrance login-form">вхід</button>
                <button class="footer__login-btn footer__login-registration registration-form">реєстрація</button>
            </div>
            <a class="footer__btn" href="#header-top"></a>
        </div>
    </div>
</footer>

<!-- <div id="recaptcha_mform-1_6LeoBwsUAA" class="g-recaptcha" data-sitekey="6LeoBwsUAAAAAGV3QlH5r2sW2jFtCqUEJwkHJ4BR"
    data-theme="light" data-size="normal" rcid="0">
    <div style="width: 304px; height: 78px;">
        <div><iframe
                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeoBwsUAAAAAGV3QlH5r2sW2jFtCqUEJwkHJ4BR&amp;co=aHR0cDovL3NjaG9vbC0zNi51Y296Lm5ldDo4MA..&amp;hl=uk&amp;v=qpy2aGtSgsYPZzCoYWjcaBCo&amp;theme=light&amp;size=normal&amp;cb=7vecpap7mkdy"
                width="304" height="78" role="presentation" name="a-2tfnt6xnlug6" frameborder="0" scrolling="no"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
        </div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
            style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
    </div><iframe style="display: none;"></iframe>
</div> -->