<header class="header" id="header-top">
    <div class="container">
        <div class="header__wrap">
            <div class="header__inner-nav">
                <nav class="header__nav">
                    <ul class="nav-menu">
                        <li><a href="../index.html">Головна сторінка</a></li>
                        <li><a href="../about.html">Про навчальний заклад</a></li>
                        <li><a href="../finance.html">прозорість</a></li>
                        <li><a href="../education.html">виховна робота</a></li>
                        <li><a href="../feedback.html">зворотній зв’язок</a></li>
                        <li><a href="../gallery.html">фотогалерея</a></li>
                        <li><a href="#">ЗНО 2020</a></li>
                        <li><a href="#">новини</a></li>
                        <li><a href="#">поради психолога</a></li>
                    </ul>
                    <div class="header__nav-down">
                        <div class="header__nav-title">
                            <a href="../index.html" class="nav-logo">ЗЗОШ №36</a>
                            <span class="header__data">
                                <script language="javascript" type="text/javascript">
                                    var d = new Date();

                                    var day = new Array("Неділя,", "Понеділок,", "Вівторок,",
                                        "Середа,", "Четверг,", "П'ятніця,", "Субота,");

                                    var month = new Array("січня", "лютого", "березеня", "квітня", "травня", "червня",
                                        "липня", "серпня", "вересняя", "жовтня", "листопада", "грудня");

                                    document.write(day[d.getDay()] + " " + d.getDate() + " " + month[d.getMonth()]
                                        + " " + d.getFullYear() + " р.");</script>
                            </span>
                        </div>
                        <button class="header__nav-btn"></button>
                    </div>
                </nav>
            </div>
            <div class="header__login">
                <button class="header__login-btn header__login-entrance login-form">вхід</button>
                <button class="header__login-btn header__login-registration registration-form">реєстрація</button>
            </div>
        </div>
    </div>
</header>